.title {
  font-family: star_wars;
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

.card {
  margin-bottom: 0em !important;
}
/* 

                  <Image
                    src={Img.filter((m) => m.title === item.title)[0].url}
                    class="ui large image"
                    alt="poster"
                    height="550px"
                    width="400px"
                  /> */